<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../Style.css/Style.css">
    <title>HISTORIA</title>
</head>

<body>
    <header>
        <section class="Logo">
            <!-- <img src="../images/Icons/clone-1.ico" alt="casco storm trooper"> -->
            
            <!-- <img src="../images/Icons/clone-1.ico" alt="casco storm trooper"> -->
            </section>
            <nav class="menu">
                <a class="logoStarWars visibleMobile"  href="../index.html"> <img src="../images/StarWarsLogo.png"></a>
                <!-- <button class="hamburguesa visibleMobile">
                    menu
                </button> -->
                <ul class="noCerrado">               
                    <li class="Links"><a href="./peliculas.html">PELICULAS</a></li>
                    <li class="Links"><a href="./series.html">SERIES</a></li>
                    <a class="logoStarWars ocultoMobile"  href="../index.html"> <img src="../images/StarWarsLogo.png"></a>
                    <li class="Links"><a href="./Historia.html">HISTORIA</a></li>
                    <li class="Links"><a href="./personajes.html">PERSONAJES</a></li>
                </ul>
            </nav>
    </header>
    <main>
        <h1 class="tituloFuerza">HISTORIA</h1>
        <img class="cartelTitulo" style="width: 100%; height:500px" src="../images/wallpapers/escudo.jpg" alt="Banner Star Wars">
        <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, odio sed commodi delectus, quas iusto
            officiis, aut accusamus incidunt id corrupti error necessitatibus vitae quos facilis rerum? Eveniet possimus
            minima sapiente illum quos magnam nesciunt nemo voluptas eum ut tempore, ad rem incidunt, molestiae alias
            quia at nihil dolores exercitationem? Facere quam numquam vero vel eveniet distinctio consequuntur!
            Aspernatur dolores enim, neque ullam excepturi itaque accusamus quasi fugit ad nobis explicabo expedita
            ducimus repellendus, laboriosam asperiores? Commodi consectetur voluptas id distinctio iste nostrum,
            quaerat, at ducimus autem, necessitatibus ipsa ex accusantium asperiores nemo. Recusandae vero nobis, error
            officia neque repellendus adipisci asperiores dicta ipsam quidem voluptatem, totam corporis quibusdam
            molestiae labore voluptate ratione aliquam? Voluptatum commodi, nostrum dolores unde et, assumenda
            reiciendis officiis nulla numquam consectetur quis iusto molestias tempore. Amet consectetur perferendis
            minima quisquam animi fugit voluptatum aut illum possimus ducimus aliquid id, aspernatur, consequatur odio
            ex labore, eos quod. Ipsa dignissimos magni maxime non quae maiores recusandae, sunt cum fugiat perspiciatis
            illum modi velit architecto quod assumenda? Magnam laborum voluptas voluptatibus aliquid quidem sed eius
            quae sit debitis odio velit dolor voluptatem, ratione vel, officiis impedit dicta deserunt iusto quis
            libero, est blanditiis fugiat at similique. Sed optio, at dolore porro itaque in eius deserunt dolorum
            blanditiis velit quis cum doloremque eveniet! Corporis minus nostrum esse, similique facilis, quos sequi
            dolorum commodi saepe voluptate dolorem. Numquam ducimus consectetur, labore facere eius nihil minus impedit
            repellendus laborum, provident odit dicta quos commodi eos quo itaque ipsum accusamus in ullam perferendis
            distinctio asperiores nostrum inventore suscipit! Rerum iure corrupti impedit. Harum vel quidem aliquam
            tenetur? Quaerat quod veniam eius quam voluptatum aliquid nulla, deserunt possimus quidem eum quae
            repellendus harum odit ipsa ducimus impedit sunt. Voluptates sequi explicabo magni exercitationem odit
            repudiandae architecto nihil at asperiores neque, ducimus atque placeat pariatur voluptate, laboriosam, quis
            consequatur cum nostrum laborum! Maiores fugit fuga, ipsa quasi harum libero eos itaque alias rerum. Nobis
            ab deleniti omnis aut saepe repellendus neque sapiente maiores iure natus porro ea hic quo, maxime rerum
            odit esse voluptates iste, non quia nostrum. Doloribus iste, cupiditate, eveniet nostrum neque quod ullam
            saepe soluta sapiente adipisci iusto aliquid sequi dolorum consequatur? Est nostrum fugiat praesentium
            delectus, sequi molestias cum earum numquam ipsum voluptatibus, ab harum asperiores rerum reiciendis culpa
            unde ex doloremque recusandae dignissimos dolorem eum. Consectetur odit amet eaque fugit distinctio
            voluptates numquam illum totam, officiis magni voluptate expedita ullam ad ipsam, mollitia laborum sunt
            itaque! Nisi dolor provident ad! Totam rem modi, laudantium amet excepturi perferendis cumque quasi animi,
            saepe, labore assumenda. Fugit iste quis inventore corrupti consectetur earum ipsam saepe, sunt laboriosam
            obcaecati itaque beatae adipisci debitis quia totam dolore quae ut unde soluta quo facere quidem! Suscipit
            necessitatibus tenetur voluptate. Ipsum sit architecto id at dolores doloremque nam deleniti? Dicta magnam
            reprehenderit natus veritatis quibusdam exercitationem at, molestias quasi enim numquam. Corrupti quos nemo
            sit assumenda accusamus laboriosam, dolore est at illo veritatis quisquam aliquid consequatur. Iusto debitis
            maiores accusamus adipisci sunt, sapiente ab minus velit illo culpa est iste suscipit cumque veritatis?
            Eveniet ducimus labore eos ad quas, ipsum magnam itaque saepe voluptas aliquam? Et similique unde ipsum
            itaque esse accusantium sit, sed reprehenderit dignissimos saepe obcaecati minima asperiores consectetur
            animi numquam, molestiae tempora, totam nesciunt? Voluptatibus dicta tempora excepturi fugit temporibus nam
            earum nesciunt quia perspiciatis unde neque, aliquam maiores sunt odit deleniti numquam itaque consequuntur
            suscipit accusamus. Enim nemo excepturi impedit culpa cum sit, vero reprehenderit dolore, dolor fugiat quod
            corporis, magnam exercitationem aliquid et nam reiciendis. Qui assumenda animi itaque temporibus. Quasi
            deleniti exercitationem debitis similique velit suscipit ratione sequi earum provident veniam, quibusdam
            nemo magni accusamus. Ab nostrum obcaecati quaerat corrupti error. Voluptates eaque voluptas nesciunt
            placeat obcaecati soluta. Autem voluptatem soluta deleniti saepe voluptate animi! Nihil deserunt sed ipsum
            amet voluptatem veritatis eveniet tempora tenetur atque itaque, corporis quaerat perspiciatis. Voluptate
            sapiente nemo cumque voluptatem quos, aliquid cupiditate officiis laboriosam assumenda repellendus ad,
            deserunt sed, sint accusantium incidunt. Eius blanditiis itaque consequatur, nobis voluptatum reprehenderit
            praesentium omnis et quisquam nihil consectetur optio doloribus vel, impedit beatae adipisci, esse
            laboriosam recusandae perspiciatis quis facilis eum! Aut, libero! Quam, iure expedita. Possimus voluptatem
            inventore minus quas cum eaque incidunt sunt, ducimus magnam cumque quia laborum sint ut consectetur soluta
            dignissimos quibusdam eius, fugiat repellendus velit. Molestiae cupiditate, neque maiores beatae omnis porro
            libero nobis magni vel doloribus voluptatem, necessitatibus quidem sit illo impedit ad delectus dolore
            perferendis dolorum nulla assumenda. Esse sequi praesentium nemo ut voluptates repellendus consequatur enim!
            Provident suscipit maiores earum ex obcaecati quam quisquam porro quod quibusdam unde et molestias doloribus
            alias excepturi enim, id eveniet animi quas hic eum. Consectetur aliquam numquam ab illo iusto voluptas
            animi nisi asperiores voluptatem delectus soluta explicabo, esse nam nemo libero, totam voluptatibus hic,
            perferendis voluptates? Maxime culpa, a accusamus asperiores nobis dolorem repudiandae porro dolorum?
            Quibusdam cumque libero, quasi eum quo sit voluptas incidunt neque nam voluptate sequi blanditiis temporibus
            placeat eligendi dolor consequatur nulla sint maxime nesciunt asperiores quisquam molestias vero quidem!
            Consectetur autem quo, blanditiis, distinctio culpa voluptate eum facere accusantium beatae doloremque
            deleniti quam. Libero voluptatibus unde, mollitia odit itaque eius reprehenderit quibusdam, quia cumque
            nobis facilis eligendi nisi deserunt debitis sapiente dignissimos fugit id? Mollitia dicta aperiam
            perspiciatis rem nemo vitae incidunt veniam velit nihil officia odio vel sapiente tenetur porro nulla sunt
            accusantium, autem qui eius in reprehenderit rerum eligendi! Itaque, accusantium quae eius ea quasi et
            exercitationem consequuntur ut. Consequatur assumenda animi, iusto delectus nisi eius veritatis enim
            adipisci? Omnis saepe debitis dolorum laboriosam adipisci ducimus commodi quis architecto nulla eveniet.
            Sint error harum maxime, ad sequi molestiae enim expedita porro necessitatibus nulla consequatur distinctio
            minima, deserunt, et quisquam repellat ab praesentium. Explicabo nemo at provident dolore iusto officiis
            laboriosam modi ipsam ipsum laborum id, excepturi animi deleniti itaque, illo delectus. Repellat sapiente
            nihil alias, quasi corporis, aliquid tempore assumenda eius architecto praesentium quibusdam nostrum at.
            Obcaecati quibusdam voluptate ratione dolore. Placeat, unde quam animi aspernatur excepturi recusandae sit
            ab vero, beatae voluptate a nesciunt?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis qui
            impedit veniam. Amet qui quam nemo
            veritatis aliquam, et rerum nesciunt iure officiis! Facere perspiciatis molestias hic sed sit modi. Impedit
            esse quidem eius eveniet distinctio nobis dignissimos velit iste consequatur eum officia dolore omnis, alias
            libero? Sunt iste neque provident facilis. Quis illum vitae ut laboriosam iusto perspiciatis, aliquid libero
            ea, a eaque incidunt commodi, delectus deserunt inventore animi hic. Perferendis, quo expedita odio
            laboriosam, nisi culpa exercitationem corporis minus aspernatur accusamus veritatis! Nemo labore veniam est
            odio repudiandae voluptates totam cum, delectus tempore repellendus ea laborum. Ea, reiciendis!sto odio
            repudiandae. Magni ipsa accusamus harum distinctio, aliquid placeat iste quaerat dolor?
        </p>
        <img class="cartelTitulo" style="width: 100%; height:500px" src="../images/wallpapers/escudo.jpg" alt="Banner Star Wars">
    </section>
    </main>
    <footer>
        <section class="muñequitos">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram-square"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-brands fa-whatsapp"></i>     
                <img src="https://media.giphy.com/media/SmYqlOh9GtnuAe4SwB/giphy.gif" alt="muñequitoVader">      
        </section>
    </footer>
    <script src="https://kit.fontawesome.com/7b0824ac80.js" crossorigin="anonymous"></script>
</body>

</html>