<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7b0824ac80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Style.css/Style.css">
    <title>PERSONAJES</title>
</head>

<body>
    <header>
        <section class="Logo">
            <!-- <img src="../images/Icons/clone-1.ico" alt="casco storm trooper"> -->
            
            <!-- <img src="../images/Icons/clone-1.ico" alt="casco storm trooper"> -->
            </section>
            <nav class="menu">
                <a class="logoStarWars visibleMobile"  href="../index.html"> <img src="../images/StarWarsLogo.png"></a>
                <!-- <button class="hamburguesa visibleMobile">
                    menu
                </button> -->
                <ul class="noCerrado">               
                    <li class="Links"><a href="./peliculas.html">PELICULAS</a></li>
                    <li class="Links"><a href="./series.html">SERIES</a></li>
                    <a class="logoStarWars ocultoMobile"  href="../index.html"> <img src="../images/StarWarsLogo.png"></a>
                    <li class="Links"><a href="./Historia.html">HISTORIA</a></li>
                    <li class="Links"><a href="./personajes.html">PERSONAJES</a></li>
                </ul>
            </nav>
    </header>
    <main class="cuerpo">
        <h1 class="tituloFuerza">PERSONAJES</h1>
        <img class="cartelTitulo" style="width: 100%; height:800px"src="../images/wallpapers/jedisVsSiths.jpg" alt="Banner Star Wars">
        <div class="slider-container">
        <img  class="slider-item" src="../images/chewbaccaYhanSolo.jpg" alt="Cartel CHEWBACCA Y HAN SOLO">
        
        <img class="slider-item"  src="../images/darthVader.jpg" alt="Cartel DARTH VADER">
  
        <img class="slider-item"  src="../images/deathMaul.jpg" alt="Cartel DEATH MAUL">
 
        <img class="slider-item"  src="../images/obiWanKenobi.jpg" alt="Cartel OBI WAN KENOBI">
  
        <img class="slider-item"  src="../images/yoda.jpg" alt="Cartel YODA">
    </div>
    </main>
    <footer>
        <section class="muñequitos">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram-square"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-brands fa-whatsapp"></i>     
                <img src="https://media.giphy.com/media/SmYqlOh9GtnuAe4SwB/giphy.gif" alt="muñequitoVader">      
        </section>
    </footer>
</body>

</html>


