<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta name="description" content="Star Wars, Jedis, Sith, sable, laser, galaxia, yoda, vader, naves, mundos, fanPage">
    <meta name="keywords"  content="HTML, ASP, JS, META, css">
    <script src="https://kit.fontawesome.com/7b0824ac80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Adentrate en el universo de las series de Star Wars</title>
</head>

<body>
    <header class="fotoHeaderSeries">
        <nav class="menu img-fluid">
            <a class="logoStarWars visibleMobile Logo"  href="../index.html"> <img src="../images/StarWarsLogo.png"></a>
            <ul class="noCerrado">               
                <li class="Links"><a href="./peliculas.html">PELICULAS</a></li>
                <li class="Links"><a href="./series.html">SERIES</a></li>
                <a class="logoStarWars ocultoMobile"  href="../index.html"> <img src="../images/StarWarsLogo.png"></a>
                <li class="Links"><a href="./Historia.html">HISTORIA</a></li>
                <li class="Links"><a href="./personajes.html">PERSONAJES</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1 class="tituloFuerza">SERIES</h1>
        </section>
        <section class="series">
            <img class="FotoPelis" src="../images/obiWan.jpg" alt="imagen de portada de serue obi Wan de Star Wars">
            <p>Obi-Wan Kenobi es un hombre noble, con una habilidad singular para la Fuerza. Como todo Jedi de su época,
                se crio en el templo Jedi desde temprana edad. A lo largo de su vida, entrenó con grandes maestros,
                comenzando por el emblemático Maestro Yoda. Tiempo después, fue el Padawan Jedi (aprendiz Jedi) del Jedi
                Qui-Gon Jinn, interpretado por Liam Neeson. Maestro y aprendiz forjaron un vínculo estrecho, y juntos
                sobrevivieron a grandes trampas y ataques inesperados, como la orden impartida por Lord Sith Darth
                Sidious de matarlos. Juntos, también, fueron testigo de la inusual habilidad con la Fuerza del joven
                esclavo Anakin Skywalker, convertido en aprendiz de Kenobi a pedido de Qui-Gon al momento de su trágica
                muerte. Nacía así el rol de Kenobi como legendario Maestro Jedi</p>
            <img class="FotoPelis" src="../images/wallpapers/bobbaFetVertical.jpeg"
                alt="imagen de portada de la serie el libro de bobba fet de star wars">
            <p>El Libro de Boba Fett, una emocionante aventura de Star Wars, encuentra al legendario cazarrecompensas
                Boba Fett y a la mercenaria Fennec Shand navegando por el inframundo de la galaxia cuando regresan a las
                arenas de Tatooine para reclamar el territorio que una vez gobernó Jabba el Hutt y su sindicato
                criminal.</p>
            <img class="FotoPelis"  src="../images/wallpapers/badBatchVertical.jpg"
                alt="Imagen de portada de la serie bad batch de star wars">
            <p>. La serie sigue a los clones experimentales y de élite del Lote Malo (presentados por primera vez en The
                Clone Wars) mientras encuentran su camino en una galaxia que cambia rápidamente inmediatamente después
                del final de las Guerras Clon.</p>
            <img class="FotoPelis"  src="../images/wallpapers/CloneWarsVertical.jpeg"
                alt="Imagen de portada de serie la guerra de los clones de star wars">
            <p>Es una serie de televisión animada ambientada entre los sucesos de de Star Wars: Episodio II El Ataque de
                los Clones y Star Wars: Episodio III La Venganza de los Sith. La serie se emitió en Cartoon Network
                durante cinco temporadas entre 2008 y 2013, mientras que una breve sexta temporada se lanzó a través de
                Netflix en 2014. El 19 de julio de 2018, se anunció que se producirían doce episodios más para el
                servicio de streaming Disney+, que fueron estrenados a partir de febrero de 2020 y finalizados el 4 de
                mayo de 2020.</p>
            <img class="FotoPelis"  src="../images/Mandalorian.jpg"
                alt="imagen de portada de serie El Mandaloriano">
            <p>El Mandaloriano (Din Djarin), interpretado por Pedro Pascal, es un pistolero solitario y cazarrecompensas
                que a veces se conoce como mando (un término genérico y posiblemente ofensivo​​ utilizado para referirse
                a todos los mandalorianos). Es un huérfano que fue rescatado a temprana edad por los mandalorianos.</p>
                <img class="FotoPelis"  src="../images/visions.jpg" alt="imagen de portada serie Visions de Star Wars">
            <p>Un desconocido errante con un pasado misterioso defiende a un pueblo de unos bandidos poderosos. Una
                banda con grandes sueños debe salvar a uno de los suyos de Jabba el Hutt y Boba Fett. Gemelos nacidos en
                el Lado Oscuro se enfrentan a bordo de un enorme Destructor Estelar.</p>
        </section>
        <section class="Cards  trailers row ">
            <div class="card cardTamaño col-lg-4";>
                <img src="../images/badBatch.jfif" class="card-img-top" alt="imagen de portada de serie Bad Batch">
                <div class="card-body cuerpoCarta">
                  <h5 class="card-title tituloCarta">Bad Batch</h5>
                  <p class="card-text textoCarta">Mira el trailer de esta Serie Animada.</p>
                  <a href="https://youtu.be/zIt9nygNkns" class="btn btn-primary">Ver el Trailer</a>
                </div>
              </div>
                <div class="card cardTamaño col-lg-4";>
                    <img src="../images/episodio4.jfif" class="card-img-top" alt="imagen de portada de star wars episodio 4">
                    <div class="card-body cuerpoCarta">
                      <h5 class="card-title tituloCarta">Episodio 4</h5>
                      <p class="card-text textoCarta">Mira el trailer de Una nueva Esperanza".</p>
                      <a href="https://youtu.be/beAH5vea99k" class="btn btn-primary">Ver el Trailer</a>
                    </div>
                  </div>
                    <div class="card cardTamaño col-lg-4";>
                        <img src="../images/bobaFett.jpg" class="card-img-top" alt="Imagen de portada de serie del libro de bobba fet">
                        <div class="card-body cuerpoCarta">
                          <h5 class="card-title tituloCarta">El Libro De Bobba Fett</h5>
                          <p class="card-text textoCarta">Mira el trailer de esta Increible Aventura.</p>
                          <a href="https://youtu.be/Gc-b1cowPDk" class="btn btn-primary">Ver el Trailer</a>
                        </div>
                      </div>
                    </section>
    </main>
    <footer>
        <section class="muñequitos">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-solid fa-envelope"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <img src="https://media.giphy.com/media/SmYqlOh9GtnuAe4SwB/giphy.gif" alt="Mini muñequito de Darth Vader marchando con su sable laser">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        </section>
    </footer>
</body>

</html>